/* 
© 2020 Google LLC.  All rights reserved.

This software is subject to the Google Cloud Terms of Service, as
modified by the "General Software Terms" of the Google Cloud Service Specific Terms, available at: https://cloud.google.com/terms/service-terms.
 */

#vg-tooltip-element.vg-tooltip.custom-theme {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: auto;
}

#vg-tooltip-element > table tr td.key {
  text-align: left;
  color: #ffffff;
}

#vg-tooltip-element > table tr td.value {
  text-align: right;
  color: #ffffff;
}
